<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/61e4988a9e.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="./App.js" defer></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div class="col">
      <div class="carousel">
        <button class="carousel__arrow carousel__arrow-left">
          <i class="fas fa-angle-left"></i>
        </button>
        <div class="carousel__window">
          <div class="carousel__slider">
            <img src="picture/black.jpg" />
            <img src="picture/black.jpg" />
            <img src="picture/black.jpg" />
            <img src="picture/black.jpg" />
          </div>
          <div class="carousel__nav"></div>
        </div>
        <button class="carousel__arrow carousel__arrow-right">
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div> -->
    <div id="App"></div>
  </body>
</html>
