@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primary-color;
  color: $text-color;
  font-weight: map-get($font-weights, bold);
}

.main {
  @include flexCenter(row);
  width: 80%;
  margin: 0 auto;

  @include mobile {
    flex-direction: column;
  }

  #{&}__paragraph1 {
    // font-weight: map-get($font-weights, bold);
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  #{&}__paragraph2 {
    @extend .main__paragraph1;
    &:hover {
      color: $accent-color;
    }
  }
}

.light {
  @include theme(false);
}
